img{
    width: 100%;
}
#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 60%;
}
.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}
.user-card:hover{
    transform: scale(1.2);
}
.container_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 4em;
    width: 100%;
    justify-content: center;
}
.cercle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow:hidden;
    box-shadow: 8px 5px 24px 2px #050000;
    transition: all 0.3s ease;
}
.cercle img {
  filter: grayscale(1) brightness(1.2);
  transition: all 0.3s ease;
}

.user-card:hover .cercle img {
    transform: scale(1.2);
    filter: none;
}
