.fa-regular {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: x-large;
    transition: color 1s ease 0s;
}
.fa-regular:active, .fa-regular:hover{
    font-weight: bold;
  transition: all 1s ease;
    transform: scale(1.2);
}
.heart-toggle input {
  display: none; /* cache la checkbox */
}

.heart-toggle i {
  font-weight: 400;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Quand la checkbox est cochée, stylise l’icône */
.heart-toggle input:checked + i {
  font-weight: 900;
  color: red;
}
.heart-toggle input:hover + i {
  color: red;
}